* {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    font-family: Averia Libre;
}

body {
    background: #372775;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2% 3%;
}


#logo-title {
    color: #FFF;
    font-size: 40px;
}

#logo {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

#nova-pesquisa {
    width: 154px;
    height: 40px;
    flex-shrink: 0;
    border: none;
    border-radius: 10px;
    border: 1px solid #37BD6D;
    background: #49B976;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

#sair {
    color: #3F92C5;
    text-align: center;
    font-family: Averia Libre;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

#pergunta {
    color: white;
    font-size: 3vw;
}

#avaliacao-container {
    margin-top: 100px;
    display: flex;
    padding: 0 10vw;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.avaliacao{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 10vw;
    cursor: pointer;
}

.avaliacao-img{
    width: 8vw;
}

.avaliacao-title{
    color: white;
    font-size: 2.5vw;
}