* {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: Averia Libre;
}

body {
    background: #372775;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0% 2%;
}

main{
    margin-top: 15px;
}
#main-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-box{
    text-align: center;
    box-sizing: border-box;
    width: 850px;
    height: 780px;
    left: 586px;
    top: 242px;
    border: 1px solid #737373;
    border-radius: 15px;
}

#logo-title {
    color: #FFF;
    font-size: 50px;
}

#logo {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.login-info {
    color: #3F92C5;
    font-size: 24px;
    line-height: 21px;
    width: 90%;
    height: 49px;
    left: 327px;
    background: #FFFFFF;
    text-indent: 10px;
}

.rec-password {
    font-size: 24px;
    line-height: 21px;
    text-align: center;
    color: #3F92C5;
    text-decoration: none;
}

#main-rotulo{
    font-size: 35px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 60px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

label{
    margin-top: 30px;
    margin-bottom: 3px;
    text-align: left;
    font-size: 35px;
    line-height: 29px;
    color: #FFFFFF;
    margin-right: 672px;
}

.criar-conta{
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #3F92C5;
}

.botao-entrar {
    font-size: 24px;
    color:#FFF;
    box-sizing: border-box;
    width: 170px;
    height: 52px;
    left: 618px;
    top: 494px;
    background: #49B976;
    border: 1px solid #37BD6D;
    border-radius: 10px;
    cursor:pointer;
}

#text-invalido{
    font-size: 24px;
    line-height: 19px;  
    color: #FD7979;
}

#rec-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 39px;
    margin-right: 39px;
}

#rodape{
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    margin-left: 25px;
}